.wrapper{
   display: flex;
width: 600px;
height: 50vh;
justify-content: space-between;
}
.wrapper>div>img{
   object-fit: cover;
}
.counter{
display: flex;
flex-direction: column;
justify-content: space-around;
flex:1;
}
.counter>img{
height: 24%;

}
.main{
   margin: 1%;
   flex:4;
}
.main>img{
      height: 100%;
}
td{
   border-bottom:2px solid #FF885B;

}
td:nth-child(even){
   text-align: right;
}
label{
   color: #FFE5CF;
}
td>img{
   width: 100%;
}