.wrapper{
   display: flex;
width: 600px;
height: 50vh;
justify-content: space-between;
}
.wrapper>div>img{
   object-fit: cover;
}
.counter{
display: flex;
flex-direction: column;
justify-content: space-around;
flex:1;
}
.counter>img{
height: 24%;

}
.main{
   margin: 1%;
   flex:4;
}
.main>img{
      height: 100%;
}
